.DS_Store

__pycache__
Pipfile
Pipfile.lock

build/
dist/
bin/


# accidentally added large file
tests/test_museoscript_original_reads/original_query.fasta

# do not trigger setuptools_scm
documents/version.txt
